/* ================================
  The container for the carousel 
==================================== */

/* The container for the carousel */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: calc(200px / 3);
  font-size: 24px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* Carousel items */
.selection-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  height: 100%;
  background: var(--main-color);
  border: none;
  border-radius: 7px;
  position: absolute;
}

/* The hidden left item carousel items */
.selection-box.i0 {
  scale: 0.7;
  left: calc(-100% / 3);
}

/* The left item carousel items */
.selection-box.i1 {
  scale: 0.7;
  left: 0;
}

/* The middle item carousel items */
.selection-box.i2 {
  scale: 1;
  left: 100px;
  left: calc(100% / 3);
}

/* The right item carousel items */
.selection-box.i3 {
  scale: 0.7;
  left: calc(100% / 3 * 2);
}

/* The hidden right item carousel items */
.selection-box.i4 {
  scale: 0.7;
  left: calc(100% / 3 * 3);
}

/* A move left animation */
.move-left {
  transition: transform 0.3s ease;
  transform: translateX(calc(-100% / 0.7));
}

/* A move left and shrink up animation */
.move-left-and-shrink-up {
  transition: transform 0.3s ease;
  transform: translateX(calc(-100% / 0.7)) scale(calc(1 / 0.7));
}

/* A move left and shrink down animation */
.move-left-and-shrink-down {
  transition: transform 0.3s ease;
  transform: translateX(-100%) scale(0.7);
}

/* A move right animation */
.move-right {
  transition: transform 0.3s ease;
  transform: translateX(calc(100% / 0.7));
}

/* A move right and shrink up animation */
.move-right-and-shrink-up {
  transition: transform 0.3s ease;
  transform: translateX(calc(100% / 0.7)) scale(calc(1 / 0.7));
}

/* A move right and shrink down animation */
.move-right-and-shrink-down {
  transition: transform 0.3s ease;
  transform: translateX(100%) scale(0.7);
}

/* The container for the carousel items */
.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background: whitesmoke;
  padding: 15px;
  border: none;
  border-radius: 7px;
}

/* The button for rotating the carousel */
.selector button {
  height: 30px;
  padding: 5px;
  font-style: bold;
  color: var(--text-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

/* The preview button */
.selector button:hover {
  transform: scale(1.025);
  transition-duration: 0.15s;
  filter: brightness(95%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* The preview section */
#preview {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 100px;
  border: none;
  background: var(--main-color);
  border-radius: 7px;
  margin: 5px;
}

/* The preview image */
#preview .emoji-avatar {
  scale: 7;
}

/* The container for the carousel and the preview */
.selectors {
  border: none;
  border-radius: 5px;
  margin: inherit;
}

/* The skin image inside the box */
.facebox {
  position: absolute;
  transform: scale(8%);
}

@media screen and (min-width: 500px) {
  .selection-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 5px;
  }
}
